@*@{
    ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
*@


@{
    ViewData["Title"] = "Menu";
}

<div class="row" style="text-align:center;margin-top:60px">
    <div class="col-md-4">
        <div>
            <a href="../Clientes/Index"><img src="~/img/clientes.jpg" width="150" height="150" /></a>
        </div>
        <span><b>Clientes</b></span>
    </div>
</div>
<div class="row" style="text-align:center;margin-top:60px">
    <div class="col-md-4">
        <div>
            <a href="../Produtos/Index"><img src="~/img/produtos.jpg" width="150" height="150" /></a>
        </div>
        <span><b>Produtos</b></span>
    </div>
</div>